:root { 
    --background: #0D0D0D;
    --primary-color: #121212; 
    --secondary-color: #333333; 
    --accent-color: #FFFFFF; 
    --text-color: #F1F1F1;
}

.light-mode {
    --background: #F5F5F5; 
    --primary-color: #E0E0E0; 
    --secondary-color: #555555; 
    --accent-color: #000000; 
    --text-color: #2C2C2C; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: var(--text-color);
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    border: none;
}



#theme-switch svg {
    fill: var(--primary-color)
}

#theme-switch svg:first-child {
    display: none;
}

.light-mode #theme-switch svg:last-child{
    display: none;
}

.light-mode #theme-switch svg:first-child {
    display: block;
}

body {
    background-color: var(--background);
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s linear;
}

h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}

.wrapper {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todo-input {
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}

#todo-input:focus {
    outline: none;
}

form {
    position: relative;
}

#add-btn {
    position: absolute;
    top: 0;
    right: 0;
    font: inherit;
    background-color: var(--accent-color);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 1000px;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
}

.todo {
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.todo .todo-text {
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
    color: var(--text-color);
}

.delete-btn {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-btn svg {
    transition: 200ms ease;
}

.delete-btn:hover svg {
    fill: #ff0033;
}

.custom-checkbox {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    cursor: pointer;
    transition: 200ms ease;
}

input[type = "checkbox"]:checked ~ .custom-checkbox {
    background-color: var(--accent-color);
}

input[type = "checkbox"]:checked ~ .custom-checkbox svg{
    fill: var(--primary-color)
}

input[type = "checkbox"]:checked ~ .todo-text {
    text-decoration: line-through;
    color: var(--secondary-color);
}

input[type = "checkbox"] {
    display: none;
}

@media (max-width: 500px) {

    html {
        font-size: 12pt;
    }

    #theme-switch {
        height: 35px;
        width: 35px;
        top: 15px;
        right: 15px;
    }

    #add-btn {
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }

    h1 {
        margin-top: 50px;
        font-size: 15vw;
    }
}